.modal-dialog{
 padding-top: 50px;
    border-radius:0;
}
.modal-content{
 padding-top: 50px;
    border-radius: 0;
    border: 5px solid #3498db;

}
.modal-header{
.modal-header{
    background-color: #3498db;
}
.modal-title{}
.modal-body{ 
background-color: #21608A;
    color: blue;

}
.modal-footer{}
