body {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #06212B;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-login-group {
  max-width: 400px;
  min-height: 280px;
  background-color: #DFE7EB;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #6094A8;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin-heading {
 font-size: 26px;
 font-family: sans-serif;
 color: #06212B;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.btn-login {
 background-color: #06212B;
}
.btn-login:hover {
 background-color: #113E4F;
}
.btn-login:focus {
 background-color: #113E4F;
}
.btn-login:active {
 background-color: #06212B;
}